$black: #303030;
$gray: #686868;
$light-gray: #e5e5e5;
$white: #fbfbfb;
$serif: 'Arvo';
$monospace: '"Source Code Pro"';
$fs: 1rem;
$fs-large: 1.125rem;
$std-margin: 0 0 1rem;
$break-small: 800px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: $white;

  color: $black;

  font-family: $serif, serif;
  font-size: $fs;

  @media screen and (min-width: $break-small) {
    font-size: $fs-large;
  }
}

body {
  line-height: 1.6;
}

html,
body {
  margin: 0;
}

h1,
p,
figure,
pre,
blockquote {
  margin: $std-margin;
}

hr {
  display: block;
  width: 100%;
  height: 0;
  margin: 2rem 0;

  border: 0;
  border-top: 1px solid $gray;

}

figure {
  .representation {
    display: block;
    margin: 0 0 .5rem;
  }
}

figcaption {
  padding: 0 .5rem .5rem;
  font-size: .8125rem;
  text-align: right;

  .original::before {
    content: ' ';
    display: block;
  }
}

img {
  max-width: 100%;
}

blockquote {
  padding: 1rem;
  border-left: 5px solid $light-gray;
  color: $gray;
  font-style: italic;

  p {
    margin: 0;
  }

  cite {
    display: block;
    margin: 1rem 0 0;
    font-size: .875rem;
    text-align: right;
  }
}

a {
  border-bottom: 1px solid currentColor;
  color: currentColor;
  text-decoration: none;

  &:hover {
    border-bottom-color: currentColor;
    color: $gray;
  }
}

ol,
ul {
  margin: 0 0 1rem 1.25rem;
  padding: 0;
  list-style-position: outside;

  ol,
  ul {
    margin-bottom: 0;
  }
}

li {
  margin: 0;

  &:not(last-of-type) {
    margin-bottom: .4rem;
  }
}

abbr {
  border-bottom: 1px dashed currentColor;
  text-decoration: none;
  cursor: help;
}

kbd,
code,
pre {
  font-family: $monospace, monospace;
}

pre {
  max-width: 100%;
}

kbd,
code {
  margin: 0;
  padding: .125rem .25rem 0;
  background-color: $light-gray;
}

article,
section {
  display: block;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.875rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.container {
  width: 100%;
  max-width: 38rem;
  margin: 0 auto;
  padding: .5rem;

  @media screen and (min-width: $break-small) {
    padding: 1rem 0;
  }
}

.site-header,
.site-nav {
  margin-bottom: 2rem;

  h1 {
    margin-bottom: .5rem;
  }
}

.site-nav a::before {
  content: '\2190'; // left arrow
  margin-right: .25rem;
}

.site-footer {
  margin: 3rem 0 0;
  font-size: .8125rem;

  [itemprop="sameAs"] + [itemprop="sameAs"] {
    margin-left: .4rem;
  }

  @media screen and (min-width: $break-small) {
    margin-bottom: .5rem;
  }
}

.posts {

  ol {
    margin-left: 0;
    list-style: none;
  }

  li {
    margin-bottom: .5rem;

    @media screen and (min-width: $break-small) {
      display: flex;
      flex-direction: row;
    }
  }

  time {
    display: block;

    @media screen and (min-width: $break-small) {
      flex: 0 0 5rem;
    }

    + a {
      margin-left: 1rem;

      @media screen and (min-width: $break-small) {
        margin-left: 2rem;
      }
    }
  }
}

.post {

  .post-header {
    margin-bottom: 3rem;
  }

  .post-date {
    display: block;
    margin: $std-margin;
    text-align: right;
  }
}

.hljs {
  font-size: .875rem;
}
